---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.scss';
const { title } = Astro.props;

import MainLayout from './MainLayout.astro';

---

<MainLayout title={title}>
    <Header></Header>  
    <div class="ceramic-container">
        <slot />
    </div>
  <Footer></Footer>
</MainLayout>

<style>
  .books-container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid green;
    gap: 2rem;
  }
</style>