---
---

<main>
    <section id="hero">
      WELCOME.astro
    </section>
</main>

<style>
    :root {
        --blue: lightskyblue;
    }
    main {
        color: darkblue;
        border:2px solid currentColor;
        padding: 2em;
        border-radius: 10px;
        background-color: rgba(from var(--blue) r g b / 0.333);
    }
</style>
