---
import astroLogo from "../assets/astro.svg";
---

<main>
    <section id="hero">
        <a href="https://astro.build"
            ><img
                src={astroLogo.src}
                width="115"
                height="48"
                alt="Astro Homepage"
            /></a
        >
    </section>
</main>

<style>
    main {
        border:1px solid red;
    }
</style>
