---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Página no encontrada">
  <main>
    <h1>404</h1>
    <p>Esta página no existe.</p>
    <a href="/">Volver al inicio</a>
  </main>
</MainLayout>