---
import MainLayout from '../layouts/MainLayout.astro';
import Welcome from '../components/Welcome.astro';
---

<MainLayout title="Home | Mi Portfolio">
    <section class="container section-padding">
      <Welcome></Welcome>
    <h1>El proyecto está vivo</h1>
    <p>Si ves esto con el tipo de letra Inter (o sans-serif) y centrado, el SCSS global está funcionando.</p>
  </section>
</MainLayout>