/* 1. Variables (Design Tokens) */
:root {
  --primary: #3b357e;
  --text-main: #1f2937;
  --bg-main: whitesmoke;
  --font-sans: 'Inter', system-ui, sans-serif;
  --transition: 0.3s ease;
  --main-gradient: linear-gradient(to right, #0f0c29,var(--primary), #0f0c29);
}

/* 2. Reset Moderno */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  color: var(--text-main);
  background-color: var(--bg-main);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 3. Tipografía Base */
h1, h2, h3 {
  line-height: 1.1;
  text-wrap: balance; /* Evita viudas en títulos */
}

/* 4. Utilidades (Solo las esenciales) */
.container {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
  &.centered {
    text-align: center;
  }
}

.section-padding {
  padding-block: 4rem;
}


/* Versión monocromática — todo hereda el color del padre */
.astro-logo {
    --astro-flame: currentColor;
    --astro-gradient-start: currentColor;
    --astro-gradient-end: currentColor;
    --astro-text: currentColor;
    color: #fff;
}

// /* Colores personalizados */
// .astro-logo {
//   --astro-flame: navy;
//   --astro-gradient-start: #0ea5e9;
//   --astro-gradient-end: #6366f1;
//   --astro-text: #1e293b;
// }

// /* Solo cambiar el wordmark, mantener llama original */
// .astro-logo {
//   --astro-text: white;
// }

/* O por clase directamente */
// .astro-wordmark { fill: hotpink; }
// .astro-flame    { fill: gold; }