---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import CeramicLayout from "../../layouts/CeramicLayout.astro";

const ceramics = await getCollection("ceramics");
---

<CeramicLayout title="CeramicLayout">
    <h1>CeramicLayout</h1>

    <div class="ceramic-grid">
        {
            ceramics.map((item) => (
                <article class="ceramic-card fade-in">
                    <div class="image-wrapper">
                        <Image
                            src={item.data.img}
                            alt={item.data.title}
                            width={400}
                        />
                    </div>
                    <div class="overlay">
                        <h2>{item.data.title}</h2>
                        <a href={`/ceramics/${item.id}`}>Ver detalles</a>
                    </div>
                </article>
            ))
        }
    </div>
</CeramicLayout>

<script>
    // Usamos Intersection Observer para detectar el scroll
    const observerOptions = {
        root: null,
        rootMargin: "0px",
        threshold: 0.66, // El % del elemento  visible
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add("visible");
                observer.unobserve(entry.target);
            }
        });
    }, observerOptions);

    // Seleccionamos todas las cards con la clase fade-in
    const cards = document.querySelectorAll(".fade-in");
    cards.forEach((card) => observer.observe(card));
</script>

<style>
    .ceramic-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 1.5rem;
    }

    .ceramic-card {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        aspect-ratio: 1 / 1;
        background-color: #eee;

        /* ESTADO INICIAL PARA LA ANIMACIÓN */
        opacity: 0;
        transform: translateY(50px);
        transition:
            opacity 2s ease-out,
            transform 2s ease-out;
    }

    /* ESTADO CUANDO ES VISIBLE */
    .ceramic-card.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
        border: 1px solid #fff;
        border-radius: 6px;

        &:hover {
            background: white;
            color: black;
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
        transition: all 0.4s ease;
        h2,
        a { 
            color: #fff;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .ceramic-card:hover .overlay {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6);
    }
</style>
